
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="emptyState">
    <div class="container">
        <h3 class="emptyState_Title">404 - Có gì đó không đúng!</h3>
        <p class="text--subdued">Nội dung chi tiết đang được cập nhật, bạn vui lòng đợi Paris France Beauty thêm nhé!</p>
        <div class="sectionFooter mt-3 emptyState__Action">
            <div class="wrapper d-flex justify-content-center">
                <a href="/" class="text-uppercase text-center"><span>Tiếp tục mua sắm!</span></a>
            </div>
        </div>
    </div>

</div>
