
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-section" id="content-area">
    @*<div id="notificationWrap" class="w-25 position-fixed d-flex items-center" style="top:40px; left:50%; transform:translateX(-50%); z-index:100;">
            <span id="notificationMsg" class="alert alert-success w-100 d-none" role="alert">
            </span>
        </div>*@
    @*@foreach (var item in categories)
        {
            if (item.Products.Count > 0)
            {*@
    <div class="shopify-section--bordered">
        <div class=" section--spacingNormal">
            <h2 class="justify-content-center text-center u-h1" style="margin-bottom: 30px;">CategoryName</h2>
            <div class="grid categories-area">
                <div class="row">
                    @*@foreach (var product in item.Products)
                        {*@
                    <div class="col-lg-3 col-md-4 col-sm-6  position-relative">

                        <div class="product__item text-decoration-none" style="cursor:pointer;">

                            <div class="gird--product productItem__wapper  img-product">
                                <div class="product-in-category-img product__item-img" @*style="background-image:url('https://localhost:5001/user-content/@product.Images[0].ImagePath')"*@>
                                    <div class="product__add-to-cart-btn">
                                        @*onclick='handleAddToCart({ Id: @product.Id, ProductName: `@product.Name`, ProductPrice: @product.Price, Quantity: 1,ProductImage:`@product.Images[0].ImagePath` })' style="cursor:pointer;">*@
                                        <i id="addToCartBtn" class="fas fa-cart-plus product__add-to-cart-icon"></i>
                                    </div>
                                </div>

                                @* code infor here *@
                                <div class="productItem__info justify-content-center text-center">
                                    <h2 class="productItem__title">
                                        <span class="text-decoration-none product-name" style="cursor:pointer;">Name</span>
                                    </h2>
                                    <div class="productItem__price">
                                        <span class="price text--subdued priceFormat">Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*}*@
                </div>
            </div>
        </div>
    </div>

    @*}
    }*@
</div>

