@model Cosmetics.ViewModels.Catalogs.Products.CategoryAssignRequest

@{
    ViewData["Title"] = "CategroryAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li class="breadcrumb-item active">Assign user roles</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
            <a asp-action="Index" asp-controller="Product" class="btn btn-outline-dark">Back to product list</a>
            @{
                var parms = new Dictionary<string, string>
                                                                                                                                                            {
                    {"id", Model.Id.ToString() }
                };
            }
            <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Edit" asp-all-route-data="parms">Edit product</a>
        </div>
        <div class="card-body">
            <form asp-action="CategroryAssign">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @for (int count = 0; count < Model.Categories.Count; count++)
                {
                    <div class="form-group">
                        <label>
                            <input asp-for="@Model.Categories[count].Selected" type="checkbox" />
                            <input asp-for="@Model.Categories[count].Id" type="hidden" />
                            <input asp-for="@Model.Categories[count].Name" type="hidden" />
                            @Model.Categories[count].Name
                        </label>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


