
@{
    ViewData["Title"] = "AccountInfor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cart = ViewBag.Cart;
    var products = cart.Products;
    var imgUrlBase = "https://localhost:5001/user-content/";
    var order = ViewBag.Order;
}


<div id="pageContainer">
    <main class="main-contentAccount">
        <div class="wrapperAccount">
            <div class="inner">
                <div class="grid mg-left-110">
                    <div class="grid__item one-whole pd-left110">
                        <h2>Xin chào,</h2>
                        <h1>Test</h1>
                    </div>
                    <div class="grid__item one-quarter pd-left110">
                        <ul class="no-bullets">
                            <li><a href="#">Thông tin tài khoản</a></li>
                            <li><a href="#">Lịch sử đơn hàng</a></li>
                        </ul>
                    </div>
                    <div class="grid__item three-quarters pd-left110 br-right">
                        @*<h2 class="h4 hide">customer.account.details</h2>*@
                        <div class="form-group">
                            <div class="label">Họ tên</div>
                            <div class="input">@order.ShipName</div>
                            <div class="form-group">
                                <div class="label">Email</div>
                                <div class="input">@order.ShipEmail</div>
                            </div>
                            <div class="form-group">
                                <label class="label">Mật khẩu cũ</label>
                                <div>
                                    <input class="input" style="border: none;" type="password" required="" name="oldPassword" placeholder="Nhập mật khẩu cũ" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Mật khẩu mới</label>
                                <div>
                                    <input class="input" style="border: none;" type="password" required="" name="password" placeholder="Mật khẩu phải có ít nhất 1 ký tự đặc biệt, 1 chữ hoa ,1 chữ số và chữ thường!" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Nhập lại</label>
                                <div>
                                    <input class="input" style="border: none;" type="password" required="" name="passwordConfirm" placeholder="Nhập lại mật khẩu mới" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="sectionFooter_From form__Submit">
                                    <div class="wrapper" style="width: 176px;">
                                        <a href="#" id="loginSubmitBtn" class="justify-content-center text-center align-items-center"><span>CẬP NHẬT</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
