
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <section data-section-id="login" data-section-type="login">
        <div class="container" >
            <div class="pageContentForm pageContentForm--fitScreen pageContentForm--extraNarrow " >
                <form method="post" action="#" accept-charset="UTF-8">
                    <input type="hidden" name="form_type" value="recover_customer_password">
                    <input type="hidden" name="utf8" value="✓">
                </form>
                <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8" name="login" class="form form--spacingTight" style="display: block">
                    <input type="hidden" name="form_type" value="customer_login">
                    <input type="hidden" name="utf8" value="✓">
                    <div class="form_Header">
                        <h1 class="form_Title">Đăng Nhập</h1>
                        <p class="form_Legend">Vui lòng điền Email và Mật Khẩu:</p>
                    </div>
                    <div class="form__Item">
                        <input type="email" class="form__Input" name="customer[email]" required="required" placeholder="Email" aria-label="Email" autofocus="">
                        <label class="form__FloatingLabel">Email</label>
                    </div>
                    <div class="form__Item">
                        <input type="password" class="form__Input" name="customer[password]" required="required" placeholder="Mật khẩu" aria-label="Mật khẩu">
                        <label class="form__FloatingLabel">Mật khẩu</label>
                        <button type="button" class="form__ItemHelp link--primaryFrom" data-action="toggle-recover-form">Quên Mật Khẩu?</button>
                    </div>
                    <div class="sectionFooter_From form__Submit">
                        <div class="wrapper">
                            <a href="#" class="justify-content-center text-center align-items-center"><span>ĐĂNG NHẬP</span></a>
                        </div>
                    </div>
                    <div class="form__Hint form__Hint--center">
                        <span class="text--subdued">Bạn chưa có Tài Khoản?</span>
                        <a href="#" class="link--secondary">Tạo Tài Khoản!</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

