
@{
    ViewData["Title"] = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="pageContainer">
        <main class="main_content" role="main">
            <section id="page-wapper">
                <div class="wrapperAccount">
                    <div class="inner">
                        <div class="grid mg-left-110">
                            <div class="grid__item one-whole pd-left110">
                                <h2>Xin chào,</h2>
                                <h1>Test</h1>
                            </div>
                            <div class="grid__item one-quarter pd-left110">
                                <ul class="no-bullets">
                                    <li><a href="#">Thông tin tài khoản</a></li>
                                    <li><a href="#">Lịch sử đơn hàng</a></li>
                                </ul>
                            </div>
                            <div class="grid__item three-quarters pd-left110 br-right">
                                <div class="table-wrap table-order-customer">
                                    <table class="full">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Ngày đặt</th>
                                                <th>Tình trạng thanh toán</th>
                                                <th>Tổng tiền</th>
                                                <th>Tình trạng hoàn thành</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#" title="">#123931</a></td>
                                                <td>06/03/2021 07:41:12</td>
                                                <td>pending</td>
                                                <td>1,299,000₫</td>
                                                <td>not fulfilled</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>

