@model Cosmetics.ViewModels.Systems.Clients.ClientRegisterRequest
@{
    ViewData["Title"] = "CreateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $('#clientSubmiRegisterBtn').on('click', () => $('#clientRegisterForm').submit())
    </script>
}

<div id="main">
    <section data-section-id="login" data-section-type="login">
        <div class="container">
            <div class="pageContentForm pageContentForm--fitScreen pageContentForm--extraNarrow ">
                <form method="post" action="#" accept-charset="UTF-8">
                    <input type="hidden" name="form_type" value="recover_customer_password">
                    <input type="hidden" name="utf8" value="✓">
                </form>
                <form method="post" asp-action="Register" id="clientRegisterForm" accept-charset="UTF-8" class="form form--spacingTight" style="display: block">
                    <input type="hidden" name="form_type" value="customer_login">
                    <input type="hidden" name="utf8" value="✓">
                    <div class="form_Header">
                        <h1 class="form_Title">Đăng Ký</h1>
                        <p class="form_Legend">Bạn vui lòng điền các thông tin sau</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (ViewBag.Error != null)
                        {
                            <span class="text-danger">@ViewBag.Error</span>
                        }

                    </div>
                    <div class="form__Item">
                        <input asp-for="FullName" class="form__Input" placeholder="Họ và tên">
                        <label class="form__FloatingLabel">Họ và tên</label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form__Item">
                        <input asp-for="Email" type="email" class="form__Input" required="required" placeholder="Email" aria-label="Email" autofocus="">
                        <label class="form__FloatingLabel">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form__Item">
                        <input asp-for="Password" type="password" class="form__Input" required="required" placeholder="Mật khẩu" aria-label="Mật khẩu">
                        <label class="form__FloatingLabel">Mật khẩu</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form__Item">
                        <input asp-for="RepeatPassword" type="password" class="form__Input" required="required" placeholder="Nhập Lại Mật khẩu" aria-label="Mật khẩu">
                        <label class="form__FloatingLabel">Nhập lại mật khẩu</label>
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>
                    <div class="sectionFooter_From form__Submit">
                        <div class="wrapper">
                            <a id="clientSubmiRegisterBtn" href="#" style="cursor:pointer;" class="d-block justify-content-center text-center align-items-center"><span class="text-uppercase">ĐĂNG KÝ</span></a>
                        </div>
                    </div>
                    <div class="form__Hint form__Hint--center">
                        <span class="text--subdued">Bạn đã có Tài Khoản?</span>
                        <a href="/User/Login" class="link--secondary">Đăng nhập</a>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>

