@model Cosmetics.ViewModels.Systems.Users.DeleteUserRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li class="breadcrumb-item active">Delete user</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-end">
            <a asp-action="Index" asp-controller="User" class="btn btn-outline-dark">Back to user list</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="mb-4 ml-3">
                    <div class="text-danger font-weight-bold" >Are you sure delete this record?</div>

                    <div class=" d-flex">
                        <div class="mr-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Id)
                        </div>
                        <div>
                            @Html.DisplayFor(model => model.Id)
                        </div>
                    </div>
                </div>
            </div>

            <form asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>

