@model Cosmetics.ViewModels.Systems.Users.UserViewModel
@{
    ViewData["Title"] = "User details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">User</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">User List</a></li>
        <li class="breadcrumb-item active">User Details</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-start">
            <a asp-action="Index" asp-controller="User" class="btn btn-outline-dark">Back to user list</a>
        </div>
        <div class="card-body">
            <div class="col-12">
                <form asp-action="Edit">
                    <input asp-for="Id" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class=" row">
                        <div class="form-group col-6">
                            <label asp-for="UserName" class="control-label font-weight-bold"></label>
                            <input asp-for="UserName" disabled class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label  font-weight-bold">Roles</label>
                            <div class="d-flex align-items-center">
                                @for (int i = 0; i < Model.RoleAssignRequest.Count; i++)
                                {
                                    <label class="d-flex  align-items-center mr-2">
                                        <span class="mr-2">
                                            @Model.RoleAssignRequest[i].Name
                                        </span>
                                        <input type="checkbox" asp-for="RoleAssignRequest[i].Selected" class="ml-2" />
                                        <input type="hidden" asp-for="RoleAssignRequest[i].Name" value="@Model.RoleAssignRequest[i].Name" />
                                        <input type="hidden" asp-for="RoleAssignRequest[i].Id" value="@Model.RoleAssignRequest[i].Id" />
                                    </label>

                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Name" class="control-label font-weight-bold"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="Email" class="control-label font-weight-bold"></label>
                            <input asp-for="Email" disabled class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Dob" class="control-label font-weight-bold"></label>
                            <input asp-for="Dob" class="form-control" />
                            <span asp-validation-for="Dob" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="PhoneNumber" class="control-label font-weight-bold"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Update" class="btn btn-outline-dark" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



